.CompletedTasksContainer {
    width: 100%;
    height: 27px;
    justify-content: flex-end;
    display: flex;
    overflow: hidden;
}

.ContainerForButton {
    width: 136px;
    height: 27px;
}

.newButtonContainer {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
}

.ButtonsContainer {
    height: 75px;
    width: 550px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.ButtonOtherDivider {
    height: 75px;
    width: 50px;
}

.TaskWidth {
    height: 75px;
    width: 850px;
}

.ButtonDivider {
    height: 75px;
    width: 30px;
}

.newButtonContainer button {
    background-color: #ffffff;
    color: #000000;
    border: 0;
    height: 45px;
    width: 400px;
    border-radius: 15px;
    padding: 20px 50px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Be Vietnam Pro', sans-serif;
    justify-content: center;
    display: flex;
    align-items: center;
}

.newButtonContainer button:hover {
    background-color: rgb(241, 236, 245);
}
