body {
    background-image: linear-gradient(#8b59f641, rgba(246, 189, 65, 0.47));
    font-family: 'Be Vietnam Pro', sans-serif;
    display:flow-root;
    margin: 100px;
}

.CalendarTaskContainer {
    width: 100%;
    height: 650px;
    justify-content: center;
    display: flex;
}

.CalendarDashboard {
    height: 650px;
    width: 550px;
    background-color: #FFFFFF;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
}

.CalendarDashboard::-webkit-scrollbar {
    width: 10px; 
}

.CalendarDashboard::-webkit-scrollbar-thumb {
    background-color: #ffffffa3; 
    border-radius: 10px;
}

.CalendarDashboard::-webkit-scrollbar-track {
    background-color: #ffffff6c;
    border-radius: 10px;
}

.TaskContainer {
    height: 650px;
    width: 850px;
    overflow-y: auto;
}

.TaskContainer::-webkit-scrollbar {
    width: 10px;
}

.TaskContainer::-webkit-scrollbar-thumb {
    background-color: #ffffffa3;
    border-radius: 10px;
}

.TaskContainer::-webkit-scrollbar-track {
    background-color: #ffffff6c;
    border-radius: 10px;
    overflow: hidden;
}

.TaskCalendarDivider {
    height: 650px;
    width: 50px;
}