body {
    background-image: linear-gradient(#8b59f641, rgba(246, 189, 65, 0.47));
    font-family: 'Be Vietnam Pro', sans-serif;
    display:flow-root;
    margin: 100px;
}

.CalendarTaskContainer {
    width: 100%;
    height: 650px;
    justify-content: center;
    display: flex;
}

.CalendarDashboard {
    height: 650px;
    width: 550px;
    background-color: #FFFFFF;
    border-radius: 20px;
    align-items: center;
    display: flex;
}

.TaskContainer {
    height: 650px;
    width: 850px;
    /* background-color: red; */
}

.TaskCalendarDivider {
    height: 650px;
    width: 50px;
}