.loginBox {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    line-height: 1.4;
    color: #000000;
    background: #ffffff;
    padding: 50px 75px;
    border-radius: 70px;
    max-width: 800px;
    min-width: 500px;
    text-align: center;
}

.loginBox h1 {
    font-size: 48px;
    font-family: 'Be Vietnam Pro', sans-serif !important;
}

.loginForm label {
    color: #000000; /* Text color for labels */
    font-size: 18px; /* Font size for labels */
    font-family: 'Be Vietnam Pro', sans-serif !important;
}

.loginForm input {
    width: 100%; /* Full width for input fields */
    padding: 10px; /* Padding for input fields */
    margin: 10px 0; /* Margin for input fields */
    border: 2px solid #000000; /* Border for input fields */
    border-radius: 5px; /* Border radius for input fields */
    font-size: 18px;
    font-family: 'Be Vietnam Pro', sans-serif !important;
}

#submitform {
    background-color: #000000 !important;
    color: #ffffff !important;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 15px 35px;
    font-size: 24px;
    margin-top: 10px;
    cursor: pointer; /* Add cursor pointer on hover */
}

#submitform:hover {
    background-color: #575454 !important;
    color: #ffffff !important;
}
